@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Bebas+Neue&family=Dancing+Script&family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
}.leftsidebar{
    height: 100vh;
    width: 30%;
    display: flex;
    align-items: center;
    background-color:   #ffe097;
}
.leftsidebar img{
    max-width: fit-content;
    width: 100%;
    z-index: 10;
}
.caption{
    position: absolute;
    top: 40px;
    left: 30px;
    font-size: 30px;
}
.caption h3{
    font-family: 'Dancing Script', cursive;
    color: #b4820c;
}
.caption .text{
    font-family: 'Bebas Neue', cursive;
    color: #b4820c;
    font-size: 40px;
}
.top-right{
    position: absolute;
    top: 10px;
    right: 20px;
    padding-top: 5px;
}
.top-right button{
    margin-left: 10px;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
}
.right-side .right-center{
    position: absolute;
    left: 50%;
    top: 25%;
}
.name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}
input{
    padding: 10px 20px 10px 20px;
    margin-block: 10px;
    border: none;
    background-color: rgba(223, 223, 223, 0.356);
    border-radius: 5px;
}
label{
    font-family: 'BIZ UDPGothic', sans-serif;
}
.ui-field{
    width: 500px;
}
.right-side .right-center form button{
    border: none;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    border-radius: 3px;
    background-color: rgb(233, 64, 93);
    color: white;
}
form h2{
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 600px) {
    .leftsidebar{
        display: none;
    }
    .right-side .right-center{
        left: 35%;
    }
    .name,.ui-field{
        width: 200px;
        flex-direction: column;
    }
    .top-right{
        position: absolute;
        top: 70%;
        left: 35%;
    }
}