<div class="container">
    <div class="leftsidebar">
      <img src="../assets/asset1.png" alt="img">
      <div class="caption">
        <h3>Smarthood</h3><br />
        <span class="text">We build Your future</span>
      </div>
    </div>
    <div class="right-side">
      <div class="top-right">
        <span>Already a member?</span>
        <button routerLink="login">Sign in</button>
      </div>
      <div class="right-center">
        <form>
          <h2>Create your account</h2>
          <div class="name">
            <label for="name">Name<br />
              <input type="text">
            </label>
            <label for="name">Username<br />
              <input type="text">
            </label>
          </div>
          <label>Email<br />
            <input type="email" class="ui-field" placeholder="example@gmail.com"><br />
          </label>
          <label>Password<br />
            <input type="password" class="ui-field" placeholder="6+character">
          </label><br />
          <button>Create Account</button>
        </form>
      </div>
      </div>
  </div>